USE [master]
GO
/****** Object:  Database [iiiTravel]    Script Date: 2014/9/8 下午 06:49:21 ******/
CREATE DATABASE [iiiTravel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iiiTravel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\iiiTravel.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iiiTravel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\iiiTravel_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iiiTravel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iiiTravel]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varbinary](50) NOT NULL,
	[NICKNAME] [varchar](10) NOT NULL,
	[ACCOUNT_LEVEL] [int] NULL,
	[LAST_LOGON_DT] [date] NULL,
	[IMAGE] [image] NULL,
	[BLACKLIST_LEVEL] [int] NULL,
 CONSTRAINT [PK__ACCOUNT__05B22F600C675B5A] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__ACCOUNT__161CF7247DE45A51] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AD](
	[AD_ID] [varchar](8) NOT NULL,
	[SPOT_ID] [varchar](11) NOT NULL,
	[VALID_DAY] [date] NOT NULL,
	[AD_IMG] [image] NULL,
	[TEMP_AD_ID] [varchar](8) NOT NULL,
 CONSTRAINT [PK__AD__B5B611FBB61D2146] PRIMARY KEY CLUSTERED 
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BLACKLIST_RECORD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BLACKLIST_RECORD](
	[REPORTER_ID] [varchar](9) NOT NULL,
	[REPORTED_ID] [varchar](9) NOT NULL,
	[COMMENT_ID] [varchar](12) NOT NULL,
	[REASON] [text] NULL,
	[REPORT_DT] [date] NULL,
	[STATUS] [int] NOT NULL
 CONSTRAINT [PK_BLACKLIST_RECORD] PRIMARY KEY CLUSTERED 
(
	[REPORTER_ID] ASC,
	[REPORTED_ID] ASC,
	[COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CODE_LIST]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CODE_LIST](
	[CODE_HEAD] [varchar](4) NOT NULL,
	[YYMM] [varchar](4) NOT NULL,
	[SER_NO] [int] NOT NULL,
	[DESCRIPTION] [varchar](20) NULL,
 CONSTRAINT [PK_CODE_LIST] PRIMARY KEY CLUSTERED 
(
	[CODE_HEAD] ASC,
	[YYMM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COUPONS]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUPONS](
	[COUPON_ID] [varchar](8) NOT NULL,
	[SPOT_ID] [varchar](11) NOT NULL,
	[COUPON_IMG] [image] NULL,
	[COUPON_DESCRIPTION] [text] NULL,
	[VALID_DAY] [date] NOT NULL,
	[TEMP_COUPON_ID] [varchar](8) NOT NULL,
 CONSTRAINT [PK__COUPONS__BEC7644113BE3EA3] PRIMARY KEY CLUSTERED 
(
	[COUPON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_COUPON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SER_NO_LENGTH]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SER_NO_LENGTH](
	[CODE_HEAD] [varchar](4) NOT NULL,
	[DESCRIPTION] [varchar](20) NULL,
	[SER_NO_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_SER_NO] PRIMARY KEY CLUSTERED 
(
	[CODE_HEAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPOT_COLLECT_RECORD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPOT_COLLECT_RECORD](
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[SPOT_ID] [varchar](11) NOT NULL,
 CONSTRAINT [PK_SPOT_COLLECT_RECORD] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[SPOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPOT_COMMENT_RECORD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPOT_COMMENT_RECORD](
	[COMMENT_ID] [varchar](12) NOT NULL,
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[SPOT_ID] [varchar](11) NOT NULL,
	[COMMENT] [text] NOT NULL,
	[CMT_DT] [datetime2](7) NOT NULL,
	[TEMP_COMMENT_ID] [varchar](12) NOT NULL,
 CONSTRAINT [PK_SPOT_COMMENT_RECORD_1] PRIMARY KEY CLUSTERED 
(
	[COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPOT_DETAIL]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPOT_DETAIL](
	[SPOT_ID] [varchar](11) NOT NULL,
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[LEADER] [varchar](10) NULL,
	[SPOT_NAME] [varchar](50) NOT NULL,
	[CITY_ID] [int] NOT NULL,
	[ADDRESS] [varchar](50) NULL,
	[PHONE] [varchar](30) NULL,
	[LONGITUDE] [float] NULL,
	[LATITUDE] [float] NULL,
	[SPOT_INTRO] [text] NULL,
	[LIKE_COUNT] [int] NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[SUBCATEGORY_ID] [varchar](3) NOT NULL,
	[TEMP_SPOT_ID] [varchar](11) NOT NULL,
	[CREATION_TIME] [datetime2](7) NULL
 CONSTRAINT [PK_SPOT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[SPOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_SPOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPOT_IMG]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPOT_IMG](
	[IMG_ID] [varchar](10) NOT NULL,
	[SPOT_ID] [varchar](11) NOT NULL,
	[SPOT_IMG] [image] NULL,
	[IMG_ORDER] [int] NULL,
	[TEMP_IMG_ID] [varchar](10) NOT NULL,
 CONSTRAINT [PK__SPOT_IMG__7E0892D95375FD5D] PRIMARY KEY CLUSTERED 
(
	[IMG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_IMG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPOT_LIKE_RECORD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPOT_LIKE_RECORD](
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[SPOT_ID] [varchar](11) NOT NULL,
 CONSTRAINT [PK_SPOT_LIKE_RECORD] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[SPOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPOT_OWNER]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPOT_OWNER](
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[OWNER_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_SPOT_OWNER] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRIP]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRIP](
	[TRIP_ID] [varchar](9) NOT NULL,
	[TRIP_NAME] [varchar](30) NULL,
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[TOTAL_DAY] [int] NULL,
	[START_DATE] [date] NOT NULL,
	[LIKE_COUNT] [int] NULL,
	[TEMP_TRIP_ID] [varchar](9) NOT NULL
 CONSTRAINT [PK__TRIP__92362727E4B2669E] PRIMARY KEY CLUSTERED 
(
	[TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRIP_COLLECT_RECORD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRIP_COLLECT_RECORD](
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[TRIP_ID] [varchar](9) NOT NULL,
 CONSTRAINT [PK_TRIP_COLLECT_RECORD] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRIP_DETAIL]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRIP_DETAIL](
	[TRIP_DETAIL_ID] [varchar](10) NOT NULL,
	[TRIP_ID] [varchar](9) NOT NULL,
	[TRIP_DAY_ORDER] [int] NULL,
	[TRIP_DESCRIPTION] [text] NULL,
	[STAY_TIME] [float] NOT NULL,
	[SPOT_ID] [varchar](11) NULL,
	[SPOT_ORDER] [int] NOT NULL,
	[TEMP_TRIP_DETAIL_ID] [varchar](10) NOT NULL,
 CONSTRAINT [PK__TRIP_DET__E05526C6FDF08AE5] PRIMARY KEY CLUSTERED 
(
	[TRIP_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TEMP_TRIP_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRIP_LIKE_RECORD]    Script Date: 2014/9/12 上午 09:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRIP_LIKE_RECORD](
	[ACCOUNT_ID] [varchar](9) NOT NULL,
	[TRIP_ID] [varchar](9) NOT NULL,
 CONSTRAINT [PK_TRIP_LIKE_RECORD] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AD]  WITH CHECK ADD  CONSTRAINT [FK__AD__SPOT_ID__05D8E0BE] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AD] CHECK CONSTRAINT [FK__AD__SPOT_ID__05D8E0BE]
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD  CONSTRAINT [FK_COUPONS_SPOT] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COUPONS] CHECK CONSTRAINT [FK_COUPONS_SPOT]
GO
ALTER TABLE [dbo].[SPOT_COLLECT_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_COLLECT_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_COLLECT_RECORD] CHECK CONSTRAINT [FK_SPOT_COLLECT_ACCOUNT]
GO
ALTER TABLE [dbo].[SPOT_COLLECT_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_COLLECT_SPOT] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_COLLECT_RECORD] CHECK CONSTRAINT [FK_SPOT_COLLECT_SPOT]
GO
ALTER TABLE [dbo].[SPOT_COMMENT_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_COMMENT_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_COMMENT_RECORD] CHECK CONSTRAINT [FK_SPOT_COMMENT_ACCOUNT]
GO
ALTER TABLE [dbo].[SPOT_COMMENT_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_COMMENT_SPOT] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_COMMENT_RECORD] CHECK CONSTRAINT [FK_SPOT_COMMENT_SPOT]
GO
ALTER TABLE [dbo].[SPOT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__SPOT_DETA__ACCOU__47A6A41B] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[SPOT_DETAIL] CHECK CONSTRAINT [FK__SPOT_DETA__ACCOU__47A6A41B]
GO
ALTER TABLE [dbo].[SPOT_IMG]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_IMG_SPOT] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_IMG] CHECK CONSTRAINT [FK_SPOT_IMG_SPOT]
GO
ALTER TABLE [dbo].[SPOT_LIKE_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_LIKE_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_LIKE_RECORD] CHECK CONSTRAINT [FK_SPOT_LIKE_ACCOUNT]
GO
ALTER TABLE [dbo].[SPOT_LIKE_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_LIKE_SPOT] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SPOT_LIKE_RECORD] CHECK CONSTRAINT [FK_SPOT_LIKE_SPOT]
GO
ALTER TABLE [dbo].[SPOT_OWNER]  WITH CHECK ADD  CONSTRAINT [FK_SPOT_OWNER_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[SPOT_OWNER] CHECK CONSTRAINT [FK_SPOT_OWNER_ACCOUNT]
GO
ALTER TABLE [dbo].[TRIP]  WITH CHECK ADD  CONSTRAINT [FK__TRIP__ACCOUNT_ID__286302EC] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[TRIP] CHECK CONSTRAINT [FK__TRIP__ACCOUNT_ID__286302EC]
GO
ALTER TABLE [dbo].[TRIP]  WITH CHECK ADD  CONSTRAINT [FK_TRIP_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[TRIP] CHECK CONSTRAINT [FK_TRIP_ACCOUNT]
GO
ALTER TABLE [dbo].[TRIP_COLLECT_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_TRIP_COLLECT_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRIP_COLLECT_RECORD] CHECK CONSTRAINT [FK_TRIP_COLLECT_ACCOUNT]
GO
ALTER TABLE [dbo].[TRIP_COLLECT_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_TRIP_COLLECT_TRIP] FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRIP_COLLECT_RECORD] CHECK CONSTRAINT [FK_TRIP_COLLECT_TRIP]
GO
ALTER TABLE [dbo].[TRIP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__TRIP_DETA__SPOT___6383C8BA] FOREIGN KEY([SPOT_ID])
REFERENCES [dbo].[SPOT_DETAIL] ([SPOT_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TRIP_DETAIL] CHECK CONSTRAINT [FK__TRIP_DETA__SPOT___6383C8BA]
GO
ALTER TABLE [dbo].[TRIP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TRIP_DETAIL_TRIP] FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRIP_DETAIL] CHECK CONSTRAINT [FK_TRIP_DETAIL_TRIP]
GO
ALTER TABLE [dbo].[TRIP_LIKE_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_TRIP_LIKE_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRIP_LIKE_RECORD] CHECK CONSTRAINT [FK_TRIP_LIKE_ACCOUNT]
GO
ALTER TABLE [dbo].[TRIP_LIKE_RECORD]  WITH CHECK ADD  CONSTRAINT [FK_TRIP_LIKE_TRIP] FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRIP_LIKE_RECORD] CHECK CONSTRAINT [FK_TRIP_LIKE_TRIP]
GO


